#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 10fr 2fr;
}
.content{
  height: 100%;
}
// &.router-link-exact-active
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
}
html, body {
  min-height: 120vh;
  height: 120vh;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
a:hover{
  cursor: pointer;
  text-decoration: underline;
}
.header{
  width: 100%;
  height: 15vh;
  min-height: 60px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  .nav {
    display: flex;
    justify-content: space-around;
  }
  a{
    text-decoration: none;
    font-size: 24px;
    color: #343434;
    opacity: 90%;
    font-weight: 300;
    &.router-link-exact-active{
      color: #000;
      opacity: 100%;
    }
  }
  a:hover{
    text-decoration: underline;
    transition: 0.2s;
  }
}
.footer{
  width: 100%;
  height: 20vh;
  min-height: 80px;
  background-color: #C5D0D0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
.page{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}
.auth_box{
  grid-column: 4/8;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a{
    transition: 0.3s;
  }
  a:hover{
  text-decoration: underline;
  }
}
.auth_form{
  display: grid;
  height: 80%;
  width: 80%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  input{
    height: 45px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #C5D0D0;
    text-align: center;
  }
  button{
    height: 45px;
    outline: none;
    background: #fff;
    color: #222;
    border: 1px solid #405858;
    border-radius: 10px;
    transition: 0.3s;
  }
  button:hover{
    cursor: pointer;
    background: #405858;
    color: #fff;
  }
  span{
    font-size: 14px;
  }
}
.mt{
  margin-top: 40px;
}
.posts_list {
  grid-column: 3/8;
  grid-row: 1/3;
}
.post_form{
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  a{
    margin-left: 20px;
  }
}
.post_item{
  width: 660px;
  min-height: 150px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
  border-radius: 10px;
  margin-bottom: 25px;
}
.post_body{
  width: 585px;
  min-height: 150px;
  background-color: #C5D0D0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  .author{
    font-size: 22px;
    font-weight: 600;
    color: #000;
  }
  .row1{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a:hover{
      text-decoration: none;
    }
  }
  .post_text{
    min-height: 70px;
    text-align: left;
    padding-top: 10px;
    padding-left: 40px;
    font-weight: lighter;
    font-size: 20px;
  }
  .low{
    justify-content: flex-end;
    margin-bottom: 5px;
  }
  .plus_btn{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    text-align: center;
    color: #000;
    font-weight: 600;
    vertical-align: middle;
    border: 1px solid #405858;
    margin: 0 10px;
  }
}
.user_pic{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #405858;
  margin-top: 10px;
}
.post_input{
  padding: 1% 5px;
  height: 80px;
  width: 500px;
  outline: none;
  border: none;
  background-color: #C5D0D0;
  font-size: 20px;
  word-wrap: word-wrap;
  overflow: hidden;
  resize: none;
}
textarea{
  resize: none;
}
.like_img{
  width: 20px;
  height: 20px;
}
.hfix{
  height: 80px;
}
